.title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 50px;
}

.desc {
  font-size: 32px;
  padding: 0 20px;
  font-weight: bold;
}

hr {
  margin: 30px 20px;
}

.sub-title {
  font-size: 36px;
  font-weight: bold;
  margin: 20px;
}

li {
  font-size: 28px;
  margin: 2px 10px 2px 80px;
}